{% extends  "./base.html" %}

{% load static %}

{% block content %}

<style>


    body{


        background-color: rgb(0, 0, 0);

    }



</style>

<body>

    <br>

    <div class="container bg-white shadow-md p-5 form-layout" style="width:500px; border-radius:20px;">

        <div class="text-center">

            <i class="text-success" aria-hidden="true"></i>

            <br> <br>


            <strong> Your order was processed successfully. </strong>

            <hr>

            <p> Thank you for your order! </p>

            <a class="btn btn-success navbar-btn text-white" type="button"  href="{% url 'store' %}"> Back to the PerfumStore </a>


        </div>


    </div>


</body>


{% endblock %}
